body{
    background-color: black;
    color: white;
}

h1{
    color: red;
    text-align: center;
}
p{
    font-size: 16px;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
}

